{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karla:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<link rel="stylesheet" href="{% static 'imagesearch/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'imagesearch/css/skeleton.css' %}">
<link rel="stylesheet" href="{% static 'imagesearch/css/custom.css' %}">


<body>
  <div class="title">
    <h1>ImageSearch</h1>
  </div>
  <div class="container">
    {% if error %}
    <div class="row">
      <div class="twelve columns warning">
        An error occurred, try again.
      </div>
    </div>
    {% endif %}
    <div class="row maincontent">
      <div class="twelve columns leftcol">
        <h2> Images from {{ event_name }}</h2>
        {% for image in results %}
        <img src={% static 'imagesearch/db_images/'|add:image %}>
        {% endfor %}
      </div>
    </div>

</body>

</html>